.catalog-prod-container {
  border: 1px solid rgb(181, 181, 181);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;

  box-sizing: border-box;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 200px;

  margin-bottom: 40px;

  text-align: right;
}
.catalog-prod-container h5 {
  margin: 2em;
}
.catalog-prod-container h4 {
  margin: 10px;
  color: #8b8b8b;
}

.catalog-prod-container h3 {
  margin: 10px;
  color: #000000;
}
.catalog-prod-container button {
  height: 40px;
  width: 130px;
  background: #006db9;
  border-style: hidden;
  margin-right: 20px;
  border-radius: 15px;

  color: white;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
}
.catalog-prod-container button:hover {
  cursor: pointer;
  background-color: white;
  color: #006db9;
}
.catalog-prod-container img {
  float: left;
  display: block;
  margin-left: 15px;
  margin-top: 15px;
  object-fit: scale-down;
  height: 162px;
  width: 162px;
}
