div form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

select {
    margin: 10px;
    width: 350px;
    height: 42px;

    border: 1px solid #8B8B8B;

    color: #8B8B8B;
    font-weight: 400;
    font-size: 14px;
}

.go, .clear {
    height: 40px;
    width: 80px;
    background: #006DB9;
    border-style: hidden;
    margin: 10px;
    border-radius: 15px;
    
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

}