.country {
  margin: 0px;
  background: #ffffff;
  border: 1px solid #c5c5c5;
  border-radius: 7px;
  color: black;
  height: 35px;
  width: 200px;
  text-align: left;
  font-size: 10px;
  border-radius: 7px 0px 0px 0px;
}
