.register-container form {
  display: inline-block;
}

.register-container input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 3px #4e4e4e solid;
  margin: 20px;
  width: 300px;
  font-size: large;
  letter-spacing: 3px;
}

.register-container body {
  text-align: center;
}

.btn-register {
  margin-top: 20px;
  background-color: rgb(0, 153, 255);
  border-radius: 10%;
  border: 2px solid rgb(0, 153, 255);
  color: white;
  height: 40px;
  width: 100px;
  margin-left: 210px;
}

.register-container h4 {
  letter-spacing: 2px;
  font-size: 20px;
}

.register-container {
  margin-top: 80px;
  margin-bottom: 80px;
}
